.form-group {
  font-size: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  label {
    margin-bottom: .5rem;
  }
  .form-control {
    width: 100%;
    padding: .375rem .75rem;
    color: $input-color;
    background-color: $input-background;
    border: 1px solid $border-primary-color;
    border-radius: .25rem;
  }
}
.btn {
  font-size: 1rem;
  color: $secondary-color;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $btn-backgound;
  padding: 6px 12px;
  transition: background-color 0.3s;
    &:hover {
      background-color: darken($btn-backgound, 10%);
      cursor: pointer;
    }

    &:active {
      background-color: darken($btn-backgound, 20%);
    }
}