.navbar {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 15px 0px;
    margin: 0px;
    background-color: $navbar-background;
  
    .nav-item {
      margin: 0px 15px;
  
      a {
        text-decoration: none;
        color: $nav-item-primary-color;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
  
        &:hover {
          background-color: $nav-item-hover;
          color: $nav-item-hover-color;
        }
  
        &:active {
          background-color: $nav-item-active;
          color: $nav-item-hover-color;
        }
      }
    }
  }